* {
  padding: 0%;
  margin: 0%; }

/*GRID CONTEINER*/
.conteiner {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1.5fr 1fr; }
  @media screen and (max-width: 768px) {
    .conteiner {
      grid-template-columns: 1fr; } }

/* HEADER */
.conteiner .bodyHeader {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }
  @media screen and (max-width: 525px) {
    .conteiner .bodyHeader {
      flex-direction: row-reverse;
      justify-content: space-between; }
      .conteiner .bodyHeader img {
        justify-content: center;
        width: 300px;
        height: 200px;
        margin-right: 40px; } }

.conteiner .bodyHeaderNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 350px; }
  @media screen and (max-width: 525px) {
    .conteiner .bodyHeaderNav {
      position: absolute;
      width: 50%;
      margin-left: -70%; } }
  .conteiner .bodyHeaderNav div {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .conteiner .bodyHeaderNav div .enCarrito {
      padding: 10px;
      padding-top: 15px;
      width: 20%;
      height: 20px; }
    .conteiner .bodyHeaderNav div img {
      width: 10%;
      padding: 5px; }
  .conteiner .bodyHeaderNav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    background: black;
    justify-content: center;
    border-radius: 15px;
    width: 100%; }
    @media screen and (max-width: 525px) {
      .conteiner .bodyHeaderNav ul {
        flex-direction: column; } }
    .conteiner .bodyHeaderNav ul li a {
      font-size: 20px;
      color: white;
      display: block;
      text-decoration: none;
      padding: 10px 15px;
      font-family: "Oswald", sans-serif; }
      @media screen and (max-width: 525px) {
        .conteiner .bodyHeaderNav ul li a {
          box-sizing: border-box;
          display: block;
          width: 100%;
          border-top: 1px solid #333; } }
      .conteiner .bodyHeaderNav ul li a:hover {
        background: #3df804;
        color: #0e0101; }

.conteiner .bodyHeaderMenu label {
  display: none; }
  @media screen and (max-width: 525px) {
    .conteiner .bodyHeaderMenu label {
      box-sizing: border-box;
      border: 2px solid black;
      border-radius: 5px;
      display: block;
      color: black;
      background: #ffffff;
      font-style: normal;
      font-size: 1.2em;
      padding: 5px; } }

.conteiner .bodyHeaderMenu #buttonMenu {
  display: none; }
  .conteiner .bodyHeaderMenu #buttonMenu:checked ~ .bodyHeaderNav {
    margin: 0; }

/* MAIN INDEX */
.bodyMain {
  grid-area: main;
  background: black; }
  @media screen and (max-width: 525px) {
    .bodyMain p {
      width: 250px;
      align-items: center;
      text-align: center; } }
  .bodyMain h1 {
    background-color: #3df804;
    width: 300px;
    height: 40px;
    text-align: center;
    margin: auto;
    align-items: center;
    font-size: 23px;
    border-radius: 20px;
    border-color: #ff0000;
    font-family: 'Anton', sans-serif;
    margin-top: 10px; }
  .bodyMain .mainImg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
    flex-wrap: wrap; }
    @media screen and (max-width: 598px) {
      .bodyMain .mainImg {
        gap: 20px; } }
    @media screen and (max-width: 525px) {
      .bodyMain .mainImg {
        flex-direction: column;
        margin: 15px;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px; } }
    .bodyMain .mainImg img:hover {
      transition: .2s;
      transform: translateY(-3px) scale(1.05);
      box-shadow: 0 5px 5px 0px black;
      border: 2px solid #3df804; }
  .bodyMain h2 {
    background-color: #3df804;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    height: 30px;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 20px;
    width: 400px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 5px;
    margin-bottom: 10px; }
    @media screen and (max-width: 525px) {
      .bodyMain h2 {
        width: 300px; } }

/*MAIN COMPRAR*/
.comprarMain {
  grid-area: main;
  background: #000000;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }
  .comprarMain .comprarSeccion1 {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    @media screen and (max-width: 598px) {
      .comprarMain .comprarSeccion1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap; } }
    .comprarMain .comprarSeccion1 .seccion1H1 {
      background-color: #3df804;
      color: black;
      text-align: center;
      border-radius: 10px;
      width: 350px;
      margin: auto;
      font-family: 'Oswald', sans-serif;
      height: 40px;
      padding-bottom: 25px; }
    .comprarMain .comprarSeccion1 .comprarList {
      background-color: #3df804;
      font-family: 'Oswald', sans-serif;
      margin: auto;
      margin-top: 30px;
      border-radius: 10px;
      width: 600px;
      font-size: 1.30rem; }
      @media screen and (max-width: 598px) {
        .comprarMain .comprarSeccion1 .comprarList {
          width: 250px;
          font-size: 1rem; } }
      .comprarMain .comprarSeccion1 .comprarList ul {
        text-align: center;
        margin: 30px; }
        @media screen and (max-width: 598px) {
          .comprarMain .comprarSeccion1 .comprarList ul {
            text-align: left;
            margin: 10px; } }
        .comprarMain .comprarSeccion1 .comprarList ul li {
          margin: 40px; }
          @media screen and (max-width: 598px) {
            .comprarMain .comprarSeccion1 .comprarList ul li {
              margin: 18px; } }
  .comprarMain .comprarSeccion2 p {
    background-color: #3df804;
    text-align: center;
    border-radius: 10px;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px; }
  .comprarMain .comprarSeccion2 table {
    background: #3df804;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif; }

/*MAIN CONTACTO*/
.bodyContact {
  grid-area: main;
  background-color: black;
  width: 100vw;
  height: 100%;
  padding-top: 20px; }
  .bodyContact h1 {
    background-color: #3df804;
    text-align: center;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    height: 45px;
    border-radius: 10px;
    width: 200px; }
  .bodyContact .bodyContactSection .bodyContactForm {
    border-radius: 15px;
    border-color: #3df804;
    background-color: #000000;
    list-style-type: none;
    padding: 0;
    padding-bottom: 20px;
    border-radius: 3px;
    text-align: center; }
    .bodyContact .bodyContactSection .bodyContactForm .formDivButton {
      display: flex;
      justify-content: space-evenly;
      margin: 15px; }
      .bodyContact .bodyContactSection .bodyContactForm .formDivButton:hover {
        transition: .2s;
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px #000000; }
    .bodyContact .bodyContactSection .bodyContactForm .formItem {
      display: flex;
      flex-direction: column;
      padding: .5em;
      justify-content: center; }
      .bodyContact .bodyContactSection .bodyContactForm .formItem label {
        padding: .5em 1em .5em 0;
        color: #3df804;
        font-size: 25px;
        text-align: center;
        margin: auto; }
      .bodyContact .bodyContactSection .bodyContactForm .formItem .formInput {
        background-color: black;
        color: #3df804;
        width: 50%;
        text-align: center;
        margin: auto; }
        .bodyContact .bodyContactSection .bodyContactForm .formItem .formInput:hover {
          transition: .2s;
          transform: translateY(-3px) scale(1.05);
          box-shadow: 0 5px 5px 0px #000000;
          border-color: #3df804; }

/* MAIN NOSOTROS*/
.nosotros {
  grid-area: main;
  text-align: center;
  background-color: black;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 20px;
  width: 100vw; }
  @media screen and (max-width: 598px) {
    .nosotros {
      width: 100vw; } }
  .nosotros h1 {
    background-color: #3df804;
    color: black;
    text-align: center;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    height: 40px; }
  .nosotros .nosotrosUl {
    background-color: #3df804;
    font-family: 'Oswald', sans-serif;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    width: 600px;
    font-size: 1.30rem; }
    @media screen and (max-width: 598px) {
      .nosotros .nosotrosUl {
        width: 300px;
        font-size: 1rem; } }
    .nosotros .nosotrosUl ul {
      margin: 40px; }
      .nosotros .nosotrosUl ul li {
        margin: 30px; }
        @media screen and (max-width: 598px) {
          .nosotros .nosotrosUl ul li {
            margin: 5px; } }
  .nosotros h3 {
    text-align: center;
    color: #3df804;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin: 10px; }
  .nosotros .nosotrosVideo {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 598px) {
      .nosotros .nosotrosVideo {
        margin: 15px;
        text-align: center;
        margin: auto; } }

/*MAIN PRODUCTOS*/
.mainProduct {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  width: 100vw;
  padding-top: 20px; }
  .mainProduct .buzos h1 {
    background: #3df804;
    text-align: center;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    font-family: "Oswald", sans-serif;
    height: 40px;
    margin-top: 15px; }
    @media screen and (max-width: 598px) {
      .mainProduct .buzos h1 {
        width: 200px; } }
  .mainProduct .buzos .buzosProduct {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px; }
    @media screen and (max-width: 598px) {
      .mainProduct .buzos .buzosProduct {
        flex-direction: column; } }
    .mainProduct .buzos .buzosProduct .buzosProductItem {
      border: 2px solid #3df804;
      padding-bottom: 5px; }
      @media screen and (max-width: 598px) {
        .mainProduct .buzos .buzosProduct .buzosProductItem {
          width: 300px;
          justify-content: center;
          margin: auto;
          margin-top: 15px;
          margin-bottom: 15px;
          text-align: center; } }
      .mainProduct .buzos .buzosProduct .buzosProductItem img {
        width: 300px; }
      .mainProduct .buzos .buzosProduct .buzosProductItem h3 {
        color: #3df804;
        font-size: 25px;
        font-family: "Oswald", sans-serif; }
      .mainProduct .buzos .buzosProduct .buzosProductItem h4 {
        color: #3df804;
        font-family: "Oswald", sans-serif;
        font-size: 15px; }
      .mainProduct .buzos .buzosProduct .buzosProductItem .buzosImg:hover {
        transition: 0.2s;
        transform: translateY(-5px) scale(1.1);
        box-shadow: 0 5px 5px 0px #000000;
        border: 5px solid #3df804; }
      .mainProduct .buzos .buzosProduct .buzosProductItem .productText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
      .mainProduct .buzos .buzosProduct .buzosProductItem .botonCompra {
        color: #3df804;
        text-align: center;
        font-family: "Oswald", sans-serif;
        border: 3px solid #3df804;
        border-radius: 10px;
        font-size: 18px;
        width: 100px;
        margin-top: 5px; }
        .mainProduct .buzos .buzosProduct .buzosProductItem .botonCompra:hover {
          background-color: #3df804;
          color: black;
          transition: 0.2s;
          transform: translateY(-2px) scale(1.1); }
  .mainProduct .remeras h1 {
    background: #3df804;
    text-align: center;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    font-family: "Oswald", sans-serif;
    height: 40px;
    margin-top: 15px; }
    @media screen and (max-width: 598px) {
      .mainProduct .remeras h1 {
        width: 200px; } }
  .mainProduct .remeras .remerasProduct {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px; }
    @media screen and (max-width: 598px) {
      .mainProduct .remeras .remerasProduct {
        flex-direction: column; } }
    .mainProduct .remeras .remerasProduct .remerasProductItem {
      border: 2px solid #3df804;
      padding-bottom: 5px; }
      @media screen and (max-width: 598px) {
        .mainProduct .remeras .remerasProduct .remerasProductItem {
          width: 300px;
          justify-content: center;
          margin: auto;
          margin-top: 15px;
          margin-bottom: 15px;
          text-align: center; } }
      .mainProduct .remeras .remerasProduct .remerasProductItem img {
        width: 300px; }
      .mainProduct .remeras .remerasProduct .remerasProductItem h3 {
        color: #3df804;
        font-size: 25px;
        font-family: "Oswald", sans-serif; }
      .mainProduct .remeras .remerasProduct .remerasProductItem h4 {
        color: #3df804;
        font-family: "Oswald", sans-serif;
        font-size: 15px; }
      .mainProduct .remeras .remerasProduct .remerasProductItem .remerasImg:hover {
        transition: 0.2s;
        transform: translateY(-5px) scale(1.1);
        box-shadow: 0 5px 5px 0px #000000;
        border: 5px solid #3df804; }
      .mainProduct .remeras .remerasProduct .remerasProductItem .productText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
      .mainProduct .remeras .remerasProduct .remerasProductItem .botonCompra {
        color: #3df804;
        text-align: center;
        font-family: "Oswald", sans-serif;
        border: 3px solid #3df804;
        border-radius: 10px;
        font-size: 18px;
        width: 100px;
        margin-top: 5px; }
        .mainProduct .remeras .remerasProduct .remerasProductItem .botonCompra:hover {
          background-color: #3df804;
          color: black;
          transition: 0.2s;
          transform: translateY(-2px) scale(1.1); }

/*FOOTER*/
.bodyFoot {
  grid-area: footer;
  background-color: grey;
  padding-bottom: 70px; }
  .bodyFoot ul {
    display: flex;
    justify-content: center;
    margin: 5px;
    text-align: center; }
    .bodyFoot ul:hover a {
      filter: blur(2px); }
    .bodyFoot ul li {
      margin: 20px;
      list-style-type: none; }
      .bodyFoot ul li .fb:hover {
        background: #4267b2; }
      .bodyFoot ul li .ig:hover {
        background: #833ab4; }
      .bodyFoot ul li .tw:hover {
        background: #00acee; }
      .bodyFoot ul li .yt:hover {
        background: #c4302b; }
      .bodyFoot ul li a {
        display: block;
        color: white;
        background: black;
        padding: 0 10px;
        line-height: 36px;
        font-size: 18px;
        box-shadow: 0 3px 5px 0px #161616;
        transition: .2s; }
        .bodyFoot ul li a:hover {
          transform: translateY(-3px) scale(1.05);
          box-shadow: 0 5px 5px 0px black;
          filter: none; }
  .bodyFoot .bodyFootH4 {
    display: flex;
    justify-content: center; }
